{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Login | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}{% block content %}
    <main role="main" class="container col-xl-3 col-lg-5 col-md-6 p-4 mt-md-4 mt-2 mb-5" style="background-color: #f7f5f5;box-shadow: 0 0 5px 5px #d4d2cf;border-radius: 5px">
        <h3 class="text-center pb-3">Login To Your Account</h3>
        <form method="post" id="loginForm">{% csrf_token %}
            <div class="mb-4"><label>Email</label>{{ form.email }}</div>
            <div class="mb-4"><label>Password</label>{{ form.password }}</div>
            {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}">{% endif %}
            <button type="submit" class="btn btn-success btn-block mb-3">Login</button>
        </form>
        <div class="btn-toolbar justify-content-end">
            <button class="btn btn-sm btn-outline-info mb-3" data-toggle="modal" data-target="#myModal2">Forget Password</button>
        </div>
        <a href="{% url 'account:signup' %}" class="btn btn-outline-danger btn-block">Signup</a>
    </main>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title px-1" id="myModalLabel2">Forget Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body px-4"><p>Enter Your Registered Email Id</p>
                    <p>We will send you a Password Reset Link</p>
                    <form class="row pl-3" method="post" id="forgetPasswordForm">{% csrf_token %}{{ form1.email1 }}
                        <input type="submit" class="btn col-3 btn-outline-danger mb-2 float-right">
                    </form>
                </div>
            </div>
        </div>
    </div>{% endblock %}{% block script %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    <script>
        grecaptcha.ready(function () {
            $('#loginForm').submit(function (e) {
                const form = this;
                e.preventDefault();
                grecaptcha.execute('{{ site_key }}', {action: 'login'}).then(function (token) {
                    const textfield = document.createElement("input");
                    textfield.type = "hidden";
                    textfield.name = 'recaptcha';
                    textfield.setAttribute("value", token);
                    form.appendChild(textfield);
                    form.submit();
                });
            })
        });
    </script>
    <script>
        grecaptcha.ready(function () {
            $('#forgetPasswordForm').submit(function (e) {
                const form = this;
                e.preventDefault();
                grecaptcha.execute('{{ site_key }}', {action: 'forgetPassword'}).then(function (token) {
                    const textfield = document.createElement("input");
                    textfield.type = "hidden";
                    textfield.name = 'recaptcha';
                    textfield.setAttribute("value", token);
                    form.appendChild(textfield);
                    form.submit();
                });
            })
        });
    </script>{% endblock %}