div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 100;
}
label {margin: 0;}
.card-deck .card {min-width: 260px;}
.fit-text {max-width: fit-content;}
@media screen and (max-width: 992px) {
    .fit-text {max-width: 100%;}
}
.custom-a:hover {text-decoration: none;}
.btn-custom {color: #FFFFFF;font-weight: 100;border-radius: 10rem;background-color: #1492E6;}
.btn-custom:hover {background-color: #FFFFFF;color: #1492E6}
.btn-custom-white {color: #1492E6;;font-weight: 100;border-radius: 10rem;background-color: #FFFFFF;}
.bg-blue {background-color: #1492E6}
.btn-custom-white:hover {background-color: #1492E6;color: #FFFFFF}
.card-custom {border-radius: 10rem; text-decoration: none; color: #FFFFFF !important; border: 3px solid #ffffff;}
.card-custom:hover {color: #1492E6 !important; text-decoration: none; background-color: #FFFFFF;}
.card-custom a {color: #FFFFFF; margin: auto; text-decoration: none;}
.card-custom a:hover {color: #1492E6;}
.errorlist {color: #dc3545 !important;list-style-type: none;margin: 0;padding: 0}
.odd {background-color: #1492E6;}
.even {background-color: rgb(0, 183, 209);}
@media (max-width: 768px) {
    .fixed-top {position: unset;}
}
.under-line {border-bottom: 1px solid #007bff !important;}