{% extends "base.html" %}{% load staticfiles %}{% block head_title %}ABES |{{ block.super }}{% endblock head_title %}
{% block css %}{% endblock %}
{% block content %}
    <div class="pt-4">
        <div class="card-deck mb-3">
            {% for event in event_list %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <span class="font-weight-normal text-capitalize">{{ event.type }}</span>
                        {% if now < event.registration_end %}<span class="text-success float-right">Active</span>
                        {% else %}<span class="text-danger float-right">Not Active</span>{% endif %}
                    </div>
                    <div class="card-body">
                        <h4><a href="{% url 'event:event_detail' event.slug %}">{{ event.event_name }}</a></h4>
                        Registered Student {{ event.registered_student }}<br>
                        <a href="{% url 'registration:register_student_list' event.slug %}">Student List</a><br>
                        <a href="{% url 'registration:print_student_list' event.slug %}">Generate Report</a>
                    </div>
                    <hr>
                    <div class="pb-3 px-3">
                        <a href="{% url 'event:update_event' slug=event.slug %}"
                           class="btn btn-outline-primary btn-sm px-4">Update</a>
                        <a href="" class="btn btn-outline-danger float-right btn-sm px-4">Delete</a>
                    </div>
                </div>{% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}{% endblock %}