{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}Edit Profile | {{ block.super }}{% endblock head_title %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="form">
        <h2>Edit Profile</h2>
        {% if messages %}<h3>{% for m in messages %}{{ m }}{% endfor %}</h3>
            <a href="{% url 'home' %}"> Back to Home</a><br><br>
        {% endif %}
        <form method="post" action="">{% csrf_token %}
            <label>First Name:</label>
            {{ form.first_name }}
            <label>Last Name:</label>
            {{ form.last_name }}
            <label>Email:</label>
            {{ form.email }}
            {{ form.email.errors }}
            <label>Password:</label>
            {{ form.password }}
            {{ form.password.errors }}
            <button type="submit">Save</button>
            <a href="{% url 'home' %}">Back to Home</a>
        </form>
    </div>
{% endblock %}