{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Login | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <main role="main" class="container col-md-4 bg-white">
        <div class="px-md-3 px-2 pt-4 pb-5">
            <div style="text-align: center">
                <h3>Login To Your Account</h3>{% if request.GET.next %}<h3>Required</h3>{% endif %}
            </div>
            <form method="post">{% csrf_token %}
                <div class="mb-3"><label>Email</label>{{ form.email }}</div>
                <div class="mb-3"><label>Password</label>{{ form.password }}</div>
                {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}">{% endif %}
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="mb-3 g-recaptcha" data-expired-callback="capcha_expired" data-callback="capcha_filled"
                     data-sitekey="6LdO2nMUAAAAADnHJPz-hA5hq1GkUFMxw1yzo6EF"></div>
                <button type="submit" class="btn btn-outline-success btn-block mb-3">Login</button>
            </form>
            <button class="btn btn-sm btn-outline-info mb-3" data-toggle="modal" data-target="#myModal1">Activate Your
                Account
            </button>
            <button class="btn btn-sm btn-outline-info mb-3  float-right" data-toggle="modal" data-target="#myModal2">
                Forget Password
            </button>
            <a href="{% url 'signup' %}" class="btn btn-outline-danger btn-block">Signup</a>
        </div>
    </main>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title px-1" id="myModalLabel1">Resend Your Activation Link</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body px-4">
                    <p>Enter Your Registered Email Id</p>
                    <p>We Will Send an Activation Link to email</p>
                    <form class="row pl-3" action="" method="post">{% csrf_token %}
                        {{ form1.email1 }}
                        <input type="submit" class="btn col-3 btn-outline-danger mb-2 float-right">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title px-1" id="myModalLabel2">Forget Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body px-4">
                    <p>Enter Your Registered Email Id</p>
                    <p>We will send you a Password Reset Link</p>
                    <form class="row pl-3" action="" method="post">{% csrf_token %}
                        {{ form2.email2 }}
                        <input type="submit" class="btn col-3 btn-outline-danger mb-2 float-right">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}{% endblock %}