{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Login | {{ block.super }}{% endblock %}
{% block content %}
    <main role="main" class="container col-md-4 bg-white">
        <div class="px-md-3 px-2 pt-4 pb-5">
            <div style="text-align: center">
                <h3>Login To Your Account</h3>{% if request.GET.next %}<h3>Required</h3>{% endif %}
                {% for m in messages %}{{ m }}<br>{% endfor %}</div>
            <form method="post">{% csrf_token %}
                <div class="mb-3">
                    <label>Username</label>
                    <input type="text" class="form-control" name="user" placeholder="Username" required>
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password" required>
                </div>
                {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}">{% endif %}
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="mb-3 g-recaptcha" data-expired-callback="capcha_expired"
                     data-callback="capcha_filled" data-sitekey="6LdO2nMUAAAAADnHJPz-hA5hq1GkUFMxw1yzo6EF"></div>
                <button type="submit" class="btn btn-outline-success btn-block mb-3">Login</button>
            </form>
        </div>
    </main>
{% endblock %}
