{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Login | {{ block.super }}{% endblock %}
{% block content %}
<style>
body{
    background: url('{% static "images/log.png" %}') no-repeat center center fixed ;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
}
</style>
<body>
    <section class="blog-content">
        <div class="container">
            <main class="" style="display: block; width: 300px;">
                {% for m in messages %}
                    <div class="alert {% if m.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} alert-dismissible fade show"
                         role="alert" style="opacity: 1;">{{ m }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                {% endfor %}
                
                    <div>
                        <div style="text-align: center">
                            <h3>Login To Your Account</h3>{% if request.GET.next %}<h3>Required</h3>{% endif %}
                        </div>
                        <form method="post">{% csrf_token %}
                            <div style="margin-bottom: 10px">
                                <label>Username</label>
                                <input type="text" class="form-control" name="user" placeholder="Username" required>
                            </div>
                            <div style="margin-bottom: 12px">
                                <label>Password</label>
                                <input type="password" class="form-control" name="pass" placeholder="Password"
                                       required>
                            </div>
                            {% if request.GET.next %}
                                <input type="hidden" name="next" value="{{ request.GET.next }}">{% endif %}
                            <script src='https://www.google.com/recaptcha/api.js'></script>
                            <div class="g-recaptcha" data-callback="capcha_filled"
                                 data-expired-callback="capcha_expired"
                                 data-sitekey="6LdO2nMUAAAAADnHJPz-hA5hq1GkUFMxw1yzo6EF"
                                 style="margin-bottom: 15px"></div>
                            <button type="submit" class="btn btn-outline-info btn-block mb-3">Login</button>
                        </form>
                    </div>
            </main>

        </div>
    </section>
</body>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('reCAPTCHA_site_key', {action: 'homepage'}).then(function (token) {
                alert("error");
            });
        });
    </script>
{% endblock %}
