{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Forget Password | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <main role="main" class="container col-md-4 bg-white">
        <div class="px-md-3 px-2 pt-4 pb-5">
            <div style="text-align: center">
                <h3>Change Your Password</h3>
            </div>
            <form method="post">{% csrf_token %}
                <div class="mb-3"><label>Password</label>{{ form.password }}
                <span style="color:red;">{{ form1.password.errors }}</span></div>
                <div class="mb-3"><label>Re-Enter Password</label>{{ form.confirm_password }}
                <span style="color:red;">{{ form1.confirm_password.errors }}</span></div>
                <button type="submit" class="btn btn-outline-success btn-block mb-3">Update</button>
            </form>
            <a href="{% url 'account:login' %}" class="btn btn-outline-danger btn-block">Login</a>
        </div>
    </main>
{% endblock %}
{% block script %}{% endblock %}