{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <br/><br/><br/><br/><br/>
    {% for m in messages %}{{ m }}{% endfor %}
    <form method="post" action="" style="background-color: #F2F3F4; padding-left:35%; ">
        {% csrf_token %}
        <label>Select Event:</label>
        <br>
        {{ form.select_event }}
        <br>
        <label>Event code:</label>
        <br>
        {{ form.slug }}
        <br>
        <label>Event name:</label>
        <br>
        {{ form.event_name }}
        <br>
        <label>Description:</label>
        <br>
        {{ form.description }}
        <br>
        <label>Duration:</label>
        <br>
        {{ form.duration }}
        <br>
        <label>Resource person:</label>
        <br>
        {{ form.resource_person }}
        <br>
        <label>Resource person data:</label>
        <br>
        {{ form.resource_person_data }}
        <br>
        <label>Registration start:</label>
        <br>
        {{ form.registration_start }}
        <br><!-- 
        <label>Registered:</label>
        {{ form.registered }}
        <br> -->
        <label>Registration end:</label>
        <br>
        {{ form.registration_end }}
        <br>
        <label>Event start:</label>
        <br>
        {{ form.event_date }}
        {{ form.event_month }}
        {{ form.event_year }}
        <br>
        <label>Eligible branches:</label>
        <br>
        {{ form.eligible_branches }}
        <br>
        <label>Outside students allowed</label>
        <br>
        {{ form.outside_student }}
        <br>
        <label>Venue:</label>
        <br>
        {{ form.venue }}
        <br>
        <label>Fees:</label>
        <br>
        {{ form.fees }}
        <br>
        <div class="g-recaptcha" data-sitekey="6LdH0G4UAAAAAFwYlkDYIxQzT8i8OV4skUrNBDjc"></div>
        <br>

        <a href="{% url 'workshop' %}">
            <button type="submit">Submit</button>
        </a>
        <br><br><br><br><br><br><br><br>
    </form>
{% endblock content %}