{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    body{
        background: url('{% static "images/log.png" %}') no-repeat center center fixed ;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size: cover;
    }
    form{
        background-color: white;
       width: 60%;
        margin: 0 auto;
        padding: 5%;
    }
    p{
        width: 70%;
    }
    span{
        margin: 5%;
    }
    button{
        margin:auto;
      display:block;
    }
    .g-recaptcha {
      margin: 0 auto;
      width: 304px;
    }
    /* BUTTON STYLES */
    button{
      padding:16px 32px;
      font-family:helvetica;
      font-size:16px;
      font-weight:100;
      color:#fff;
      background: #587286;
      border:0;
      font-weight:100;
    }
    button:hover{
      background: #3B5C76;
    }
    /* END OF BUTTON STYLES */
</style>
<body>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <br/><br/><br/><br/><br/>
    {% for m in messages %}{{ m }}{% endfor %}
    <form method="post" action="">
        {% csrf_token %}
        <label>Select Event:</label>
        <span>{{ form.select_event }}</span>
        <br><br>
        <label>Event code:</label>
        <span>{{ form.slug }}</span>
        
        <label>Event name:</label>
        <span>{{ form.event_name }}</span>
        <br><br>
        <label>Description:</label>
        <br>
        <div class="form-group">
        {{ form.description }}
        </div>
        <br><br>
        <label>Duration:</label>
        <span>{{ form.duration }}</span>

        <label>Resource person:</label>
        <span>{{ form.resource_person }}</span>
        <br><br>
        <label>Resource person data:</label>
        <br>
        <div class="form-group">
        {{ form.resource_person_data }}
        </div>
        <br><br>
        <label>Registration start:</label>
        <span>{{ form.registration_start }}</span>
        <br><br>
        <label>Registration end:</label>
        <span>{{ form.registration_end }}</span>
        <br><br>
        <label>Event start:</label>
        <span>{{ form.event_date }}
        {{ form.event_month }}
        {{ form.event_year }}</span>
        <br><br>
        <label>Eligible branches:</label>
        <span>{{ form.eligible_branches }}</span>
        <br>
        <label>Venue:</label>
        <br>
        <div class="form-group">
        {{ form.venue }}
        </div>
        <br>
        <label>Outside students allowed :</label>
        <span>{{ form.outside_student }}</span>
        <br>
        <label>Fees:</label>
        <span>{{ form.fees }}</span>
        <br><br>
        <div class="g-recaptcha" data-sitekey="6LdO2nMUAAAAADnHJPz-hA5hq1GkUFMxw1yzo6EF"></div>
        <a href="{% url 'workshop' %}">
            <br><br>
            <div><button type="submit">Submit</button></div>
        </a>
    </form>
    <br><br><br><br><br><br><br><br>
</body>
{% endblock content %}