<!doctype html>{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block head_title %}ABES Event{% endblock head_title %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center px-md-4 bg-light border-bottom shadow-sm">
    <a class="mr-md-auto" href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" alt="ABES EC" style="width: 195px;"></a>
    <nav class="my-2 my-md-0 mr-md-3 align-items-md-center">
        {% if not user.is_authenticated %}
            <a class="p-1 text-dark" href="{% url 'workshop' %}">Workshop</a>
            <a class="p-1 text-dark" href="{% url 'seminar' %}">Seminar</a>
            <a class="p-1 text-dark" href="{% url 'training' %}">Training</a>
            <a class="p-1 text-dark" href="{% url 'competition' %}">Competition</a>
            <a class="p-1 text-dark" href="{% url 'guest_lecture' %}">Guest Lecture</a>
            <a class="p-1 text-dark" href="{% url 'excellence_center' %}">Excellence Center</a>{% endif %}
        {% if user.is_authenticated %}Welcome {{ user.first_name }}
            {% if user.is_superuser %}<a class="p-1 text-dark" href="{% url 'superuser' %}">USERS</a>{% endif %}
            {% if user.is_staff %}<a class="p-1 text-dark" href="{% url 'form' %}">Add Event</a>{% endif %}
            <a class="p-1 text-dark" href="{% url 'consolidatedview' %}">Consolidated View</a>
            <a class="p-1 text-danger" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="p-2" href="{% url 'login' %}">Login</a><a class="p-2" href="{% url 'signup' %}">Signup</a>
        {% endif %}
    </nav>
</div>
<div class="mt-4">
    <main role="main" class="container pb-4">{% for m in messages %}
        <div class="alert alert-dismissible fade show container fit-text {% if m.tags == 'success' %}alert-success{% elif m.tags == 'warning' %}alert-warning{% elif m.tags == 'info' %}alert-info{% else %}alert-danger{% endif %}"
             role="alert">{{ m }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>{% endfor %}
        <!-- - - - - - - - - - START - - - - - - - - - - - -->
        {% block content %}{% endblock content %}
        <!-- - - - - - - - - - END - - - - - - - - - - - - -->
    </main>
</div>
<!-- Footer -->
<div class="bg-dark">
    <footer class="pt-3 mt-4 text-white container">
        <div class="row pt-md-5 pb-md-4 mx-lg-5">
            <div class="col-12 col-md">
                <img class="mb-2" src="" alt="ABES EC" width="24" height="24">
                <small class="d-block mb-3 text-muted">&copy; Pooja</small>
            </div>
            <div class="col-6 col-md">
                <h4 style="color: white">Other Links</h4>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h4 style="color: white">Contact Us</h4>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h4 style="color: white">About</h4>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{#        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
{#        crossorigin="anonymous"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'js/search.js' %}"></script>
{% block script %}{% endblock script %}
</body>
</html>