<!doctype html>{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block head_title %}ABES Event{% endblock head_title %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center px-md-4 bg-light border-bottom shadow-sm">
    <a class="mr-md-auto" href="{% url 'home' %}">
        <img src="{% static 'images/cbse_logo.png' %}" alt="CBSE" style="width: 175px;"></a>
    <nav class="my-2 my-md-0 mr-md-3 align-items-md-center">
        {% if user.is_authenticated %}Welcome {{ user.first_name }}
            {% if user.is_superuser %}<a class="p-1 text-dark" href="{% url 'account:superuser' %}">Manage User</a>
                <a class="p-1 text-dark" href="">Generate Report</a>
            {% elif user.is_staff %}<a class="p-1 text-dark" href="{% url 'event:add_event' %}">Add Event</a>{% endif %}
            <a class="p-1 text-dark" href="{% url 'account:consolidated_view_all' %}">Consolidated View</a>
            <a class="p-1 text-danger" href="{% url 'account:logout' %}">Logout</a>
        {% else %}
            <a class="p-2" href="{% url 'account:login' %}">Login</a>
            <a class="p-2" href="{% url 'account:signup' %}">Signup</a>
        {% endif %}
    </nav>
</div>
<div class="mt-4">
    <main role="main" class="container pb-4">{% for m in messages %}
        <div class="alert alert-dismissible fade show container fit-text {% if m.tags == 'success' %}alert-success{% elif m.tags == 'warning' %}alert-warning{% elif m.tags == 'info' %}alert-info{% else %}alert-danger{% endif %}"
             role="alert">{{ m }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
        </div>{% endfor %}
        <!-- - - - - - - - - - START - - - - - - - - - - - -->
        {% block content %}{% endblock content %}
        <!-- - - - - - - - - - END - - - - - - - - - - - - -->
    </main>
</div>
<!-- Footer -->
<div class="bg-dark">
    <footer class="py-4 text-white container text-center">
        <small class="d-block mb-3 text-muted">&copy; Pooja Singh</small>
    </footer>
</div>
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'js/search.js' %}"></script>
{% block script %}{% endblock script %}
</body>
</html>
