{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Competition | {{ block.super }}{% endblock head_title %}
{% block css %}{% endblock %}
{% block content %}
    <!-- header begin -->
    <header class="page-head">
        <div class="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <ol class="breadcrumb">
                            <li class="active">Competition</li>
                        </ol> <!-- end of /.breadcrumb -->

                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.header-wrapper -->
    </header> <!-- /.page-head (header end) -->

    <section class="blog-content">
        <div class="container">
            <div class="row">
                <main class="col-md-9" style="display: block;">
                    {% for list in event_list %}
                        <article class="blog-item" style="padding-bottom: 0;padding-top: 5px;">
                            <div class="blog-heading">
                                <h3 class="text-capitalize" style="margin-top: 5px;">{{ list.event_name }}</h3>
                                <span class="date">{{ list.event_month }} {{ list.event_date }},{{ list.event_year }}</span>
                                <span>{{ list.duration }}</span>
                            </div>
                            <p>{{ list.description }}</p>
                            <div>By {{ list.resource_person }}
                                <a href="{% url 'competition_description_with_slug' slug=list.slug  %}" class="text-capitalize" style="float: right">read more...</a></div>
                        </article>
                        <hr style="margin: 0">
                    {% endfor %}
                </main>


                <!-- begin sidebar -->
                <aside class="col-md-3 sticky-top">

                

                    <!-- begin archieve-widget  -->
                    <div class="archive-widget">
                        <h4>All Competitions:</h4>
                        <ul class="archives">
                            {% for year in year_list %}
                            {{ year }}
                                {% for month in months_list %}
                                <li>
                                    <a href="{% url 'competition_search' year=year month=month.month_code %}">{{ month }} </a>
                                </li>
                            {% endfor %}{% endfor %}
                        </ul>
                    </div> <!-- /.archieve-widget -->
                </aside>
                <!-- end sidebar -->

            </div>
        </div>
    </section>
{% endblock %}
{% block script %}{% endblock %}