{% extends 'base.html' %}{% load staticfiles %}{% block head_title %}Workshop Detail | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div class="px-5 pt-4 pb-5 bg-white rounded shadow-sm">
        <h2>{{ obj.event_name }}</h2>
        <div class="clearfix pb-4">
            <span class="lead pr-lg-5">Event Code: {{ obj.slug }} </span>
            {% if user.is_authenticated %}
                {% if event == 'workshop' %}
                    <a href="{% url 'update_workshop' slug=obj.slug %}"
                       class="btn btn-outline-primary btn-sm pr-3">Update</a>
                    <a href="{% url 'delete_workshop' slug=obj.slug %}" class="btn btn-outline-danger btn-sm">
                        Delete</a>
                {% elif event == 'seminar' %}
                    <a href="{% url 'update_seminar' slug=obj.slug %}"
                       class="btn btn-outline-primary btn-sm pr-3">Update</a>
                    <a href="{% url 'delete_seminar' slug=obj.slug %}" class="btn btn-outline-danger btn-sm">
                        Delete</a>
                {% elif event == 'competition' %}
                    <a href="{% url 'update_competition' slug=obj.slug %}"
                       class="btn btn-outline-primary btn-sm pr-3">Update</a>
                    <a href="{% url 'delete_competition' slug=obj.slug %}" class="btn btn-outline-danger btn-sm">
                        Delete</a>
                {% elif event == 'training' %}
                    <a href="{% url 'update_training' slug=obj.slug %}"
                       class="btn btn-outline-primary btn-sm pr-3">Update</a>
                    <a href="{% url 'delete_training' slug=obj.slug %}" class="btn btn-outline-danger btn-sm">
                        Delete</a>
                {% elif event == 'guest_lecture' %}
                    <a href="{% url 'update_guestlecture' slug=obj.slug %}"
                       class="btn btn-outline-primary btn-sm pr-3">Update</a>
                    <a href="{% url 'delete_guestlecture' slug=obj.slug %}" class="btn btn-outline-danger btn-sm">
                        Delete</a>
                {% endif %}
            {% else %}
                {% if event == 'workshop' %}
                    <a href="{% url 'workshop_registration' slug=obj.slug  c_o_e=list.c_o_e%}"
                       class="btn btn-outline-success btn-sm">Register</a>
                {% elif event == 'seminar' %}
                    <a href="{% url 'seminar_registration' slug=obj.slug c_o_e=list.c_o_e %}"
                       class="btn btn-outline-success btn-sm">Register</a>
                {% elif event == 'training' %}
                    <a href="{% url 'training_registration' slug=obj.slug c_o_e=list.c_o_e %}"
                       class="btn btn-outline-success btn-sm">Register</a>
                {% elif event == 'competition' %}
                    <a href="{% url 'competition_registration' slug=obj.slug c_o_e=list.c_o_e %}"
                       class="btn btn-outline-success btn-sm">Register</a>
                {% elif event == 'guest_lecture' %}
                    <a href="{% url 'guest_lecture_registration' slug=obj.slug c_o_e=list.c_o_e %}"
                       class="btn btn-outline-success btn-sm">Register</a>
                {% endif %}
            {% endif %}</div>
        <div>
            <p>Registration Start : {{ obj.registration_start }}<br>Registration Ends : {{ obj.registration_end }}</p>
        </div>
        <h2>About :</h2>
        <p>{{ obj.description }}</p>
        <h4>Fees: Rs. {{ obj.fees }}</h4>
        <h4>Venue: {{ obj.venue }}</h4>
        <h4>Event starts on: {{ obj.event_date }} {{ obj.event_month }} {{ obj.event_year }}</h4>
        <h4>Event duration: {{ obj.duration }}</h4>
        <h4>Eligible Branches: {{ obj.eligible_branches }}</h4>
        <h4>Is allowed for outside students ??? {{ obj.outside_student }}</h4>
        <h3>About Resource Person</h3>
        <p>{{ obj.resource_person }}</p>
        <p>{{ obj.resource_person_data }}</p>
    </div>
{% endblock content %}
