{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div style="padding-left: 10%;">
<br>
<hr>
<br>
<a href="{% url 'structural_design' %}" style="color: red;">Centre of Excellence for Structural Design and Analysis</a>
<br>
<hr>
<br>
<a href="{% url 'cisco_networking_academy' %}" style="color: red;">Cisco Networking Academy</a>
<br>
<hr>
<br>
<a href="{% url 'texas' %}" style="color: red;">Texas Instruments Embedded System Lab</a>
<br>
<hr>
<br>
<a href="{% url 'smc_india' %}" style="color: red;">Centre of Excellence for SMC India Pvt Ltd.</a>
<br>
<hr>
<br>
<a href="{% url 'automation_research' %}" style="color: red;">Industrial Automation Research & Training Centre (IARTC)</a>
<br>
<hr>
<br>
<a href="{% url 'vlsi_design' %}" style="color: red;">Centre of Excellence – VLSI Design</a>
<br>
<hr>
<br>
<a href="{% url 'big_data' %}" style="color: red;">Center of Excellence for Big Data Analytics</a>
<br>
<hr>
<br>
<a href="{% url 'innovation_centre' %}" style="color: red;">ABES-NI Innovation Centre</a>
<br>
<hr>
<br>
<a href="{% url 'mobile_application' %}" style="color: red;">Centre of Excellence for Mobile Application Development</a>
<br>
<hr>
<br>
<a href="{% url 'software_development' %}" style="color: red;">Center for Enterprise Software Development</a>
<br>
<hr>
<br>
<br>
<br>
</div>
{% endblock content %}