{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Home | {{ block.super }}{% endblock head_title %}
{% block css %}{% endblock %}
{% block content %}
    <div class="my-5 p-3 bg-white rounded shadow-sm">
        <div class="border-bottom border-gray d-flex justify-content-between">
            <a class="text-dark" href=""><h2>Events</h2></a>
        </div>{% for event in event_list %}
        <div class="media text-muted px-4 pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex align-items-center">
                    <a href="{% url 'event:event_detail' event.slug %}">
                        <h3 class="text-gray-dark" style="margin: 0;">{{ event.event_name }}</h3></a>
                    <span style="margin-left: 2.5%;">Duration: {{ event.duration_number }} {{ event.duration_string }}</span>
                    <span style="margin-left: 2.5%;color: red;">Registration End : {{ event.registration_end }}</span>
                    {% if not user.is_staff %}
                        <a href="{% url 'registration:register_event' slug=event.slug %}"
                           class="d-block mt-md-2 flex-md-row">Registration...</a>
                    {% endif %}
                </div>
                <span class="d-block">{{ event.event_date.month }}, {{ event.event_date.day }}, {{ event.event_date.year }}</span>
            </div>
        </div>{% endfor %}
    </div>
{% endblock %}
{% block script %}{% endblock %}