<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report {{ event }}</title>
</head>
<body style="font-size: 12px;">
<div style="text-align: center">
   <!-- <img src="http://localhost:8001/static/images/abes_logo.png" alt="" style="width: 150px;">-->
    <span style="font-size: 16px;">ABES Engineering College<br></span>
    19th Km Stone NH-24, Near Crossing Republic, Ghaziabad - 201009 (UP), INDIA
    <!--<img src="http://localhost:8001/static/images/cbse_logo.png" alt="" style="width: 150px;">-->
</div>
</body>
</html>