{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Center of Excellence for Big Data Analytics</h1>
<p>Center of Excellence- Big Data Analytics was established in September 2015. The objective of this centre is to cater the needs of the industry in the field of big data analytics, cloud and other open source technologies. We provide a thorough understanding of the concept from simulation to implementation. We work on open source technologies and focus on creating a technically sound workforce for the industry.</p>
{% endblock content %}