{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Cisco Networking Academy</h1>
<p>ABES Engineering College had set up the “Center of Excellence in Networking” in the year 2013. ABES Engineering College a CISCO academy provides CCNA course training on real Routers and switches. Cisco lab equipped with advanced networking simulation software like NS2, NS3 and Wireshark. CCNA is the associate level Certification in Networking offered by Cisco. CCNA in Routing and switching covers

basics of Cisco Networking and Routing switching technologies along with IP addressing schemes, routing basics, switching and Wan Technologies. After completion of CCNA course, a candidate can easily install, configure and troubleshoot Cisco Routers and switches for small & Medium Networks.</p>
{% endblock content %}