{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Industrial Automation Research & Training Centre (IARTC)</h1>
<p>Realizing that industrial automation is an emerging field and offers a wide scope for career growth, ABESEC, in the year 2012, set up a Centre of Excellence “Industrial Automation Research & Training Centre (IARTC)” in technical association with ROCKWELL AUTOMATION. Rockwell Automation, the world’s largest company dedicated to industrial automation and information, makes its customers more

productive and the world more sustainable. Throughout the world, flagship of Allen-Bradley® and Rockwell Software® product brands are recognized for innovation and excellence. The COE is equipped with latest technologies in the field of automation and it is one of its kind in AKTU NCR region to provide such in house training programs.</p>
{% endblock content %}