{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Center for Enterprise Software Development
</h1>
<p>Center of Excellence- Enterprise Software Development was established in September 2013. This center was developed to make students aware of the software development at the enterprise level and also the tools and technologies used in various industries.The basic objective of Enterprise software development is to develop methods and procedures for software development that can scale up

for large systems and that can be used consistently to produce high-quality software at low cost and with a small cycle of time using RAD (rapid application development) tools.</p>
{% endblock content %}