{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Centre of Excellence for SMC India Pvt Ltd.
</h1>
<p>With a purpose of improving the skills of students of Mechanical Engineering / Electrical & Electronics Engineering in the field of automation, centre for building skills and employability (CBSE) has setup centre of excellence for pneumatics and electro pneumatics technology. The COE is setup in technical collaboration with SMC (INDIA) Pvt. Ltd., a world leader in pneumatics.</p>
{% endblock content %}