{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>ABES-NI Innovation Centre</h1>
<p>Engineers and scientists commonly use data acquisition hardware and software to automate the operation of processes and machinery without human interaction. Applications range from simple on/off actuator control to advanced closed-loop control with multiple inputs and outputs. The flexibility and productivity is provided by NI data acquisition (DAQ) hardware and LabVIEW software for PC-based

control and automation. Manufacturing lines consist of numerous decoupled systems for automation, control, measurement, machine monitoring, and many other functions. Historically, these systems have stood alone – both from each other and from company enterprise networks. Each system performed its function in relative isolation – controlling the conveyor system, monitoring compressor bearing vibration, performing end-of-line electronics functional test, and so on. These hardware devices offer multifunction input and output for analog and discrete measurements along with a complete line of signal conditioning hardware necessary to acquire any signal from any sensor.</p>
{% endblock content %}