{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Centre of Excellence for Mobile Application Development</h1>
<p>Mobile App Development Training is a course that provides an opportunity to learn various mobile application development frameworks that run on the mobile platforms and the Internet. Learn relevant skills and develop an understanding of the issues surrounding the Mobile Platforms and SDKs including: iOS, Android, HTML5 Mobile Web, JQuery Mobile, PhoneGap, and Windows Mobile.

The course covers every facet of mobile app development, including project management, requirements, architectural design, GUI and layout, data management, integration with existing web and legacy applications, web services, security, porting, and the management of mobile application development projects.</p>
{% endblock content %}