{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Centre of Excellence for Structural Design and Analysis</h1>
<p>A Centre of Excellence is set up by CBSE for enhancing the technical skills of students to design, visualize, and simulate their ideas before they are ever built or create. The center of excellence is realizing that design & analysis is emerging field and most of the industries are going towards this field. The labs are equipped with the latest software, which is being currently used in industries in designing and analysis of

products. CSDA is focused on developing skills and concepts central to the successful use of the technology. Realizing that CSDA is emerging field and most of the industries are going towards CSDA, the department started the training program on design & analysis.</p>
<h2>Objective</h2>
<p>To impart focused training in CAD/CAM aligned to the Engineering Industries.</p>
<p>To upgrade the Conceptualizing, Engineering and Designing skills of engineering students to a Professional Level.</p>
<p>To make students Industry-Ready and be readily employable.</p>
<p>To address the need of the design industry by making available a talent pool.</p>
<p>To equip students with deep knowledge & provide hands-on experience, so that they can excel in their career.</p>
<p>To offer a wide range of cutting edge technologies which are meant for future engineers and professionals.</p>
<p>To enhance the technical skill of students for Mechanical and Civil engineering students and professionals who are looking for Career boosting industrial training from renowned companies.</p>
<h2>Technologies Covered</h2>
<p>Auto CAD</p>
<p>Pro-E</p>
<p>Solid Works</p>
<p>ANSYS</p>
<p>Staad-Pro</p>
 <p>E-Tabs</p>
<p>REVIT ARCH.</p>
<p>Sap2000</p>
{% endblock content %}