{% extends 'base.html' %}{% load staticfiles %}{% block head_title %}Workshop Detail | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <main role="main" class="container col-md-6 bg-white rounded shadow-sm">
        <div class="px-md-3 px-2 pt-4 pb-5">
            <div style="text-align: center">
                <h3>Register</h3>
            </div>
            <form method="post" onsubmit="fun()">{% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Name</label>
                        {{ form.name }}{{ form.name.errors }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Email</label>
                        {{ form.email }}{{ form.email.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label>Branch</label>
                        {{ form.branch }}
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Year</label>
                        {{ form.year }}
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Semester</label>
                        {{ form.sem }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Mobile Number</label>
                        {{ form.number }}{{ form.number.errors }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>University Roll Number:</label>
                        {{ form.roll_no }}{{ form.roll_no.errors }}
                    </div>
                </div>
                <div class="mb-3">
                    <label>College Name:</label>
                    {{ form.college_name }}{{ form.college_name.errors }}
                </div>
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="mb-3 g-recaptcha" data-sitekey="6LdH0G4UAAAAAFwYlkDYIxQzT8i8OV4skUrNBDjc"></div>
                <button type="submit" class="btn btn-outline-success btn-block mb-3">Register</button>
                <a href="{% url 'home' %}" class="btn btn-outline-info btn-block">Home</a>
            </form>
        </div>
    </main>
{% endblock content %}
{% block script %}
    <script>
        function fun() {
            if (allowSubmit) return true;
            e.preventDefault();
            alert('Fill in the capcha!');
        }</script>
{% endblock %}