{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Add Event | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div class="p-3 pt-4 bg-white rounded shadow-sm">
        <h2>Update Event</h2>
        <form action="" method="post" class="px-md-2">{% csrf_token %}
            <h3>Event Information*</h3>
            <div class="form-row px-md-5">
                <div class="pb-4 col-md-4"><label>Fees:</label>
                    <input type="text" class="form-control" name="fees" placeholder="Fees" required maxlength=""
                           value="{{ event.fees }}"></div>
                <div class="pb-4 col-md-8"><label>Event name</label>
                    <input type="text" class="form-control" name="event_name" placeholder="Event Name" required
                           maxlength="100" value="{{ event.event_name }}"></div>
                <div class="pb-4 col-md-12"><label>Description</label>
                    <input type="text" class="form-control" name="description" placeholder="Description" required
                           maxlength="2000" value="{{ event.description }}"></div>
                <div class="pb-4 col-md-12"><label>Eligible branches</label>
                    <input type="text" class="form-control" name="eligible_branches" placeholder="Eligible Branches"
                           required maxlength="" value="{{ event.eligible_branches }}"></div>
                <div class="pb-4 col-md-12">
                    <label>Outside students allowed</label>
                    <input type="text" class="form-control" name="outside_student" placeholder="Outside Student"
                           required maxlength="" value="{{ event.outside_student }}"></div>
                <div class="pb-4 col-md-4"><label>Duration</label>
                    <input type="text" class="form-control" name="duration" placeholder="Duration" required
                           maxlength="20" value="{{ event.duration }}"></div>
                <div class="pb-4 col-md-4"><label>Registration start</label>
                    <input type="text" class="form-control" name="registration_start" placeholder="Registration Start"
                           required maxlength="" value="{{ event.registration_start|date:'Y-m-d' }}"></div>
                <div class="pb-4 col-md-4"><label>Registration end</label>
                    <input type="text" class="form-control" name="registration_end" placeholder="Registration End"
                           required maxlength="" value="{{ event.registration_end|date:'Y-m-d' }}"></div>
                <div class="pb-4 col-md-4"><label>Event Start Date</label>
                    <input type="text" class="form-control" name="event_date" placeholder="Event Date" required
                           maxlength="" value="{{ event.event_date }}"></div>
                <div class="pb-4 col-md-4"><label>Event Start Month</label>
                    <input type="text" class="form-control" name="event_month" placeholder="Event Month" required
                           maxlength="" value="{{ event.event_month }}"></div>
                <div class="pb-4 col-md-4"><label>Event Start Year</label>
                    <input type="text" class="form-control" name="event_year" placeholder="Event Year" required
                           maxlength="" value="{{ event.event_year }}"></div>
                <div class="pb-4 col-md-12"><label>Venue:</label>
                    <input type="text" class="form-control" name="venue" placeholder="venue" required maxlength="200"
                           value="{{ event.venue }}">
                </div>
                <div class="pb-4 col-md-12"><label>Resource person:</label>
                    <input type="text" class="form-control" name="resource_person" placeholder="Resource Person"
                           required maxlength="100" value="{{ event.resource_person }}"></div>
                <div class="pb-4 col-md-12"><label>Resource person data:</label>
                    <input type="text" class="form-control" name="resource_person_data"
                           placeholder="Resource Person Data"
                           required maxlength="2000" value="{{ event.resource_person_data }}"></div>
            </div>
            <div class="px-md-5 pt-3 pb-5 clearfix">
                <button type="submit" class="px-5 btn btn-outline-primary">Update</button>
                <button type="reset" class="px-4 btn btn-outline-danger">Reset</button>
            </div>
        </form>
    </div>
{% endblock %}