/* varela-round-regular - latin */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round Regular'), local('VarelaRound-Regular'),
    url('../fonts/varela-round-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/varela-round-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 100;
}

.custom-a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: #202020;
}


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: normal;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
}

h2 {
    font-size: 2.0rem;
    line-height: 1.3;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

@media screen and (max-width: 736px) {
    h1 {
        font-size: 2.75rem;
        line-height: 1.3;
    }

    h2 {
        font-size: 1.75rem;
        line-height: 1.5;
    }

    h3 {
        font-size: 1.25rem;
    }
}

.card-deck .card {
    min-width: 260px;
}

.fit-text {
    max-width: fit-content;
}

@media screen and (max-width: 992px) {
    .fit-text {
        max-width: 100%;
    }
}

.btn-custom {color: #FFFFFF;font-weight: 100;border-radius: 10rem;background-color: #1492E6;}
.btn-custom:hover {background-color: #FFFFFF;color: #1492E6}
.btn-custom-white {color: #1492E6;;font-weight: 100;border-radius: 10rem;background-color: #FFFFFF;}
.btn-custom-white:hover {background-color: #1492E6;color: #FFFFFF}
.card-custom {border-radius: 10rem; text-decoration: none; color: #FFFFFF !important; border: 3px solid #ffffff;}
.card-custom:hover {color: #1492E6 !important; text-decoration: none; background-color: #FFFFFF;}
.card-custom a {color: #FFFFFF; margin: auto; text-decoration: none;}
.card-custom a:hover {color: #1492E6;}
.errorlist {color: #dc3545 !important;list-style-type: none;margin: 0;padding: 0}
.odd {background-color: #1492E6;}
.even {background-color: rgb(0, 183, 209);}
@media (max-width: 768px) {
    .fixed-top {
        position: unset;
    }
}